<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134827706672-j50bjcq4ca3n4enrf682q36f3g69egn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134827706672-j50bjcq4ca3n4enrf682q36f3g69egn8</string>
	<key>API_KEY</key>
	<string>AIzaSyBIYk2npfsojvp9-45LSK59Bwz_5nhTzko</string>
	<key>GCM_SENDER_ID</key>
	<string>134827706672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.teleDoctorSuperAdmin</string>
	<key>PROJECT_ID</key>
	<string>teledoctor-94083</string>
	<key>STORAGE_BUCKET</key>
	<string>teledoctor-94083.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134827706672:ios:01a7ce6938da8b6f0920f5</string>
</dict>
</plist>